/* styles for visualize step */

.visualize-left {
    -webkit-transition: width .25s ease-in-out;
       -moz-transition: width .25s ease-in-out;
        -ms-transition: width .25s ease-in-out;
         -o-transition: width .25s ease-in-out;
            transition: width .25s ease-in-out;
}

.axes-editor .columns {
    margin-top: 15px;
    overflow:auto;
    margin-bottom: 20px;
}

.axes-editor .axis {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 210px;
    margin: 0 20px 20px 0;
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
}

.axes-editor .axis .head {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.axes-editor .axis .axis-title {
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #777;
    font-weight: bold;
}

.axes-editor .axis .body {
    padding: 10px;
}


.axes-editor .axis .axis-columns {
    margin: 0;
    min-height: 30px;
    overflow:auto;
}

.axes-editor .column {
    color: #fff;
    background: #6ad;
    border-radius: 3px;
    padding: 3px 8px;
    text-align: center;
}

.axes-editor .column-text:before {
    content: "T ";
    font-family: "Times New Roman";
    opacity: 0.7;
}

.axes-editor .column-number:before {
    content: "# ";
    opacity: 0.7;
}
.axes-editor .column-date:before {
    content: " ";
    opacity: 0.8;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAA3NCSVQICAjb4U/gAAAAGFBMVEX///////////////////////////////8pK8DIAAAACHRSTlMAESIzVWaI/7R6FnwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAYdEVYdENyZWF0aW9uIFRpbWUAMTQuMTEuMjAxM+cBdXwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAOklEQVQImWNgcC8vYWBgKxF0T2BwVyhgKmEoYShgcGcoBJLqQLK8QB0owsAQDpRlYC4BqlQCqgTrAgBf6wuC7zh6ywAAAABJRU5ErkJggg==) top left no-repeat;
}

.axes-editor .axis .axis-columns .column {
    margin: 0 0 5px;
    text-align: center;
}

.ui-sortable-helper,
.ui-draggable-dragging {
    -webkit-transform: rotate(5deg);
       -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
         -o-transform: rotate(5deg);
            transform: rotate(5deg);
    box-shadow: 5px 5px 3px rgba(0,0,0,.2)
}


.axes-editor .columns .column {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin: 0 5px 5px 0;
}

.axes-editor .template-column, .template-axis {
    display: none;
}

.sortable-placeholder {
    border: 1px dashed #ddd;
    text-align: center;
    color: #bbb;
    padding: 3px 8px;
    margin-bottom: 5px;
}

.sortable-placeholder:after {
    content: "drop here";
}

.column.soon-to-be-removed {
    background: #d63!important;
    opacity: 0.5;
}

.axes-editor .axis-columns .ui-draggable {
    margin-top: 0px!important;
}

.column.ui-draggable.not-accepted {
    background: #d63!important;
}


/*! jQuery UI - v1.10.3 - 2013-11-12
* http://jqueryui.com
* Includes: jquery.ui.core.css
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

