
{# axes editor #}

<h3>{% trans "Customize axis mapping" %}</h3>

<a href="#visualize" class="btn-return btn pull-right">{% trans "Return" %}</a>

<p>{% trans "You can drag around the data columns to the available visual axes (dimensions)." %}</p>


<div class="columns">
</div>

<div class="axes">

    <div class="template-axis">
        <div class="head axis-title">Axis Title</div>
        <div class="body">
            <div class="axis-columns"></div>
        </div>
    </div>

</div>