
<link rel="stylesheet" type="text/css" href="/static/vendor/handsontable/jquery.handsontable.full.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/handsontable/jquery.handsontable.bootstrap.css">

<div class="dw-create-describe chart-editor{% if not has_data %} hidden{% endif %}">

    <div class="row">
        <div class="span2-5">
            <h3 style="margin-top:0">{% trans "Describe your data" %}</h3>

            <p>{% trans "Congrats, it looks that your dataset has been parsed correctly. Please confirm that." %}</p>

            <div>
                <p>
                    <label class="checkbox"><input id="has-headers" type="checkbox" checked="checked"> {% trans "First row as label" %}</label>
                </p>
            </div>
            <br />
            <a class="btn" href="#upload"><i class="icon-chevron-left"></i> {% trans "Upload a new dataset" %}</a>
        </div>
        <div class="span7">

            <div class="transpose-help help">⤹ <span>{% trans "Transpose data table" %}</span></div>

            <div id="data-preview"></div>

            <button class="btn disabled" id="reset-data-changes" title="{% trans "Revert data changes" %}">{% trans "Revert data changes" %}</button>
        </div>

        <div class="span2-5">
            <div class="sidebar">

                <div id="table-options">

                    <p>{% trans "Please make sure that the column format has been detected correctly. Datawrapper supports three different types: text, number and date. You can overwrite the auto-detected format by clicking in the column header." %}</p>

                    <h3 style="margin-top:20px">{% trans "Credit the source" %}</h3>
                    <p>
                        <label>{% trans "Who published the data in the first place?" %}</label>
                        <input id="describe-source-name" type="text" placeholder="name of the organisation">
                    </p>

                    <p>
                        <label>{% trans "If possible, please provide a link the source data" %}</label>
                        <input id="describe-source-url" type="text" placeholder="http://">
                    </p>

                </div>

                <a href="visualize" class="submit pull-right btn btn-primary" id="describe-proceed">{% trans "Visualize" %} <i class="icon-chevron-right icon-white"></i></a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
        </div>
    </div>
</div>

